* {
    transition: 0.4s;
}

body {
    font-size: 125%;
    color: $black;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    color: $paragraphColor;
    font-size: 0.9rem;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin: 10px 0;
}

h1, 
h2,
h3,
h4,
h5,
nav,
button {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2, 
h3,
h4,
h5,
nav,
.drop-contents a,
.related-posts p {
    text-transform: uppercase;
}

a {
    color: inherit;
    text-decoration: none;
}

.wrapper {
    max-width: 1280px;
    width: 85%;
    margin: 0 auto;
}
