.home-page {
    

    /* HEADER STYLES START */
    header {
        background: url(../creative-assets/home-1.jpeg) center no-repeat;
        background-size: cover;
        height: 100vh;
    }
    /* HEADER STYLES END */


    /* MAIN STYLES START */
    h3 {
        font-size: 1rem;
        padding: 10px 0;
    }
    // MAIN STYLES END


    // BRANDING STYLES START
    .branding-content h2 {
        font-size: 1.6rem;
        font-weight: 700;
        padding: 20px 0 50px;
        display: none;
    }

    .branding-section {
        background: $primaryColor;
        display: flex;
    }

    .branding-content {
        @include flex-centered();
        flex-direction: column;
        padding: 150px 0;
    }

    .branding-content ul {
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        padding-top: 50px;
    }

    .branding-content li {
        width: 35%;
        text-align: center;
    }

    .branding-picture-container {
        position: relative;
    }

    .circle-text {
        width: 50%;
        position: absolute;
        left: -25%;
        top: -25%;
    }
    /* RANDING STYLES END */


    /* WHITE SECTION CIRCLE IMAGE START */
    .white-section {
        background: $lightGrey;
        display: flex;
    }

    .white-content {
        @include flex-centered();
        flex-direction: column;
        text-align: center;
        position: relative;
        padding: 40px 0;
    }

    .white-content img {
        width: 25%;
        padding: 25px 0;
        border-radius: 50%;
    }

    .white-content p {
        width: 50%;
    }

    .fa-chevron-left,
    .fa-chevron-right {
        position: absolute;
    }

    .fa-chevron-left{
        left: 0;
    }

    .fa-chevron-right {
        right: 0;
    }
    /* WHITE SECTION CIRCLE IMAGE END */


    /* ADVANTAGES START */
    .advantages-section {
        background: url(../creative-assets/home-4.jpeg) right no-repeat;
        background-size: cover;
        display: flex;
    }

    .advantages-content {
        display: flex;
        align-items: center;
        align-content: space-between;
        padding: 50px 0;
    }

    .advantages-content .empty {
        display: flex;
        flex: 1 0 45%;
    }

    .advantages-content ul {
        display: flex;
        flex: 1 0 55%;
    }

    .advantages-content ul {
        display: flex;
        flex-wrap: wrap;
    }

    .advantages-content li {
        display: flex;
        width: 50%;
        margin: 30px 0;
    }

    .advantages-content i {
        font-size: 1.5rem;
        width: inherit;
        padding: 10px 40px;
        position: relative;
        top: 6px;
        right: 24px;
    }

    .icon-container {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        position: relative;
        margin-right: 10px;
        border: 2px solid $black;
    }
    /* ADVANTAGES END */


    /* TEAM START */
    .team-section {
        background: $white;
        height: auto;
    }

    .team-content h2 {
        text-align: center;
        padding: 100px 0;
    }

    .the-team {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
        grid-template-rows: 300px 300px;
        grid-gap: 20px;
        grid-auto-rows: 250px;
        padding-bottom: 50px;
    }
    
    .the-team img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .team-players {
        background: $lightGrey;
        display: flex;
        grid-column-start: span 2;
    }

    .team-players div {
        width: 90%;
        text-align: left;
        margin: 130px auto 0;
    }

    .team-players h4 {
        margin: 15px 0;
    }

    .work-with-us {
        background: $lightGrey;
        text-align: center;
        display: flex;
    }

    .work-with-us h4{
        width: 60%;
        margin: auto;
    }
    /* TEAM ENDS*/


    /* DROP US A LINE START */
    .drop-us-a-line {
        display: flex;
        height: 100vh;
    }

    .drop-green {
        background: $primaryColor;
        width: 50%;
        height: 100vh;
        @include flex-centered();
    }

    .drop-contents {
        text-align: center;
        width: 60%;
    }

    .drop-contents h2,
    .drop-contents p {
        padding-bottom: 30px;
    }

    .drop-contents a {
        padding: 15px 35px;
        background-color: $white;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0.7px;
        font-size: 0.8rem;
        display: inline-block;
    }

    .drop-image {
        background: url(../creative-assets/home-10.jpeg) center;
        background-size: cover;
        width: 50%;
        height: 100vh;
    }
    /* DROP US A LINE END */
}


// HOME-PAGE MEDIA QUERIES START
@media (max-width: 1200px) {
    .home-page {

        .advantages-content .empty {
            flex: 1 0 30%;
        }

        .advantages-content ul {
            flex: 1 0 70%;
        }
    }
}


@media (max-width: 970px) {
    .home-page {

        .white-content p {
            width: 70%;
        }

        .advantages-content .empty {
            flex: 1 0 10%;
        }

        .advantages-content ul {
            flex: 1 0 90%;
        }

        .drop-us-a-line {
            height: auto;
        }
        
        .drop-green {
            width: 100%;
            height: 50vh;
        }

        .drop-image {
            display: none;
            width: 0%;
        }

    }
}


@media (max-width: 770px) {
    .home-page {

        .branding-content {
            padding: 40px 0;
        }

        .branding-content h2 {
            display: inline-block;
        }

        .branding-content img[src="creative-assets/home-circle-text.png"] {
            display: none;
        }

        .branding-content ul {
            flex-direction: column;
            align-items: center;
        }

        .branding-content li {
            width: 100%;
            margin: 20px;
        }

        .white-content img {
            width: 50%;
        }

        .white-content p {
            width: 90%;
        }
        
        .advantages-content .empty {
            flex: 1 0 0%;
        }

        .advantages-content ul {
            flex: 1 0 100%;
        }

        .team-players {
            grid-column-start: auto;
        }
        
        .team-players div {
            margin: auto;
            text-align: center;
        }

    }
}


@media (max-width: 560px) {
    .home-page {

        header {
            height: 70vh;
        }

        .branding-content h2 {
            font-size: 1.2rem;
            padding: 0 0 20px 0;
        }

        .branding-picture-container {
            text-align: center;
        }

        .branding-content img[src="creative-assets/home-2.jpeg"] {
            width: 100%;
        }

        .branding-content ul {
            padding-top: 20px;
        }

        .advantages-content ul {
            flex-direction: column;
        }

        .advantages-content li {
            width: 100%;
            margin: 15px 10px 15px 0;
        }

        .team-content h2 {
            text-align: center;
            padding: 50px 0;
        }

    }
}
// HOME-PAGE MEDIA QUERIES END