@mixin fontSize($sizeValue) {
  font-size: $sizeValue * 1px;
  font-size: ($sizeValue/10) * 1rem;
}

// h1 {
//   @include fontSize(48);
// }

@mixin flex-centered() {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}